:root {
    --primary: white;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-p {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn-o {
    background-color: transparent;
    color:white;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-m {
    padding: 8px 20px;
    font-size: 20px;
}

.btn-l {
    padding: 12px 26px;
    font-size: 20px;
}

.btn-m:hover, .btn-l:hover {

    background: white;
    color: #242424;
    transition: all 0.3s ease-out;

}