* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  
  /* width: 100vw;
  height: 100vh; */
}

.home,
.about,
.blog,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.blog {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.recordPage{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1rem;
  background-color: #adadad;
}

.newrecord {
  margin: 10vw 0 1vw 0;
}

.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

h1.record  {
  text-align: left;
}

@media screen and (max-width: 850px) {
  .newrecord {
    margin-top: 15vw;
  }
}
@media screen and (max-width: 550px) {
  .newrecord {
    margin-top: 17vw;
    padding: 2vw;
  }
}
@media screen and (max-width: 435px) {
  .newrecord {
    margin-top: 21vw;
    padding: 2vw;
  }
}